@import '../../statics/styles/variables';
@import '../../statics/styles/mixins';

.logo-group {
  width: 100%;
  display: flex;
  align-items: center;

  .logo {
    height: 30px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 10px 0 0 10px;
  }
  a {
    h1 {
      color: $logo-color;
      margin-left: 20px;
      margin-top: 15px;
      @include fontSize(30px);
    }
  }
}

.user-management-wrapper {
  margin-top: 20px;
}

body .p-dialog .p-dialog-content {
  overflow: inherit;

  .row {
    margin: 10px;
    align-items: center;
  }

  button {
    margin-top: 20px;
    @include fontSize(14px);
    margin-left: 20px;
    width: 100px;
  }
}
